<a href="https://colab.research.google.com/github/harshitha1510/Python-Practice/blob/main/python_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Variables and Data Types

In [ ]:
x = 5  # Integer
name = 'Alice'  # String
pi = 3.14  # Float
is_valid = True  # Boolean

In [ ]:
a = 10
b = 20
sum_ab = a + b
print(sum_ab)

In [ ]:
my_string = 'Hello, World!'
my_string_length = len(my_string)
print(my_string_length)

## Control Flow

In [ ]:
if x > 3:
    print('x is greater than 3')
else:
    print('x is less than or equal to 3')

In [ ]:
for i in range(5):
    print(i)

In [ ]:
x = 7
if x % 2 == 0:
    print('Even')
else:
    print('Odd')

## Functions

In [ ]:
def greet(name):
    return f'Hello, {name}!'
greet('Alice')

In [ ]:
def add(a, b):
    return a + b
add(5, 3)

In [ ]:
def multiply(x, y):
    return x * y
multiply(3, 4)

## Lists

In [ ]:
fruits = ['apple', 'banana', 'cherry']
fruits.append('orange')
print(fruits)

In [ ]:
numbers = [1, 2, 3, 4, 5]
squares = [x**2 for x in numbers]
print(squares)

In [ ]:
list1 = [1, 2, 3]
list2 = [4, 5, 6]
merged_list = list1 + list2
print(merged_list)

## String Manipulation

In [ ]:
sentence = 'Hello, how are you?'
words = sentence.split()
print(words)

In [ ]:
text = 'python programming'
uppercase = text.upper()
print(uppercase)

In [ ]:
phrase = '  This is a string with spaces  '
cleaned = phrase.strip()
print(cleaned)

## Loops

In [ ]:
for i in range(10):
    print(i)

In [ ]:
while x > 0:
    print(x)
    x -= 1

In [ ]:
numbers = [1, 2, 3, 4, 5]
for num in numbers:
    print(num ** 2)

## Dictionaries

In [ ]:
person = {'name': 'Alice', 'age': 25}
person['age'] = 26
print(person)

In [ ]:
student = {'name': 'John', 'grades': [85, 90, 88]}
student['grades'].append(92)
print(student)

In [ ]:
my_dict = {'a': 1, 'b': 2}
del my_dict['a']
print(my_dict)

## Tuples

In [ ]:
coordinates = (3, 5)
print(coordinates[0])

In [ ]:
my_tuple = ('apple', 'banana', 'cherry')
tuple_length = len(my_tuple)
print(tuple_length)

In [ ]:
person = ('Alice', 25, 'Engineer')
print(f'{person[0]} is {person[1]} years old and works as a {person[2]}')

## Sets

In [ ]:
fruits = {'apple', 'banana', 'cherry'}
fruits.add('orange')
print(fruits)

In [ ]:
numbers = {1, 2, 3, 4}
print(3 in numbers)

In [ ]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
intersection = set1 & set2
print(intersection)

## File I/O

In [ ]:
with open('file.txt', 'w') as f:
    f.write('Hello, file!')

In [ ]:
with open('file.txt', 'r') as f:
    content = f.read()
    print(content)

In [ ]:
with open('numbers.txt', 'w') as f:
    for i in range(5):
        f.write(f'{i}
')

## Comprehensions

In [ ]:
squares = [x**2 for x in range(5)]
print(squares)

In [ ]:
odd_numbers = [x for x in range(10) if x % 2 != 0]
print(odd_numbers)

In [ ]:
cubes = {x: x**3 for x in range(5)}
print(cubes)

## Lambda Functions

In [ ]:
add = lambda x, y: x + y
result = add(3, 4)
print(result)

In [ ]:
square = lambda x: x**2
print(square(5))

In [ ]:
multiply = lambda x, y: x * y
result = multiply(2, 3)
print(result)

## Exception Handling

In [ ]:
try:
    x = 1 / 0
except ZeroDivisionError:
    print('Cannot divide by zero!')

In [ ]:
try:
    value = int('abc')
except ValueError:
    print('Invalid input!')

In [ ]:
try:
    file = open('non_existent_file.txt', 'r')
except FileNotFoundError:
    print('File not found!')